<header>
    <mat-toolbar id="header">
        <app-logo />

        <span class="spacer hide-on-mobile"></span>

        <a routerLink="/dogs" class="hide-on-mobile ms-4 me-4 mat-headline-3 mb-0">Dogs</a>
        <a routerLink="/home" class="hide-on-mobile ms-4 me-4 mat-headline-3 mb-0">Events</a>
        <a routerLink="/home" class="hide-on-mobile ms-4 me-4 mat-headline-3 mb-0">Projects</a>
        <a routerLink="/home" class="hide-on-mobile ms-4 me-4 mat-headline-3 mb-0">About us</a>
    </mat-toolbar>
</header>