:host {
    display: contents;
}

#header {
    --mat-toolbar-container-text-color: var(--app-bg1);
    background: transparent;
    position: relative;
    padding: 0 6vw;
    z-index: 2;

    .header-link {
        font-weight: 200;
    }
}

.spacer {
    flex: 1 1 auto;
}
