<header>
    <mat-toolbar id="header">
        <app-logo />

        <span class="spacer hide-on-mobile"></span>

        <a routerLink="/dogs" class="hide-on-mobile ms-4 me-4 mat-headline-3 mb-0 header-link">Dogs</a>
        <a role="button" class="hide-on-mobile ms-4 me-4 mat-headline-3 mb-0 header-link">Events</a>
        <a role="button" class="hide-on-mobile ms-4 me-4 mat-headline-3 mb-0 header-link">Projects</a>
        <a role="button" class="hide-on-mobile ms-4 me-4 mat-headline-3 mb-0 header-link">About us</a>
    </mat-toolbar>
</header>