@use "src/assets/styles/utils/typography";

.simple-card {
    box-shadow: 0px 6px 10px var(--app-sw1);
    border-radius: typography.svmax(0.5);
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;

    img {
        border-radius: typography.svmax(0.5);
    }

    .content {
        border-bottom-right-radius: typography.svmax(0.5);
        border-bottom-left-radius: typography.svmax(0.5);
        padding: 0 typography.svmax(0.25);
        align-items: flex-end;
        color: var(--app-bg1);
        position: absolute;
        font-weight: 700;
        font-size: 2rem;
        display: flex;
        height: 100%;
        width: 100%;
        z-index: 1;
        bottom: 0;
        left: 0;

        img {
            height: auto !important;
            pointer-events: none;
            margin-top: auto;
            bottom: 0;
            left: 0;
        }

        img + * {
            position: relative;
            z-index: 1;
        }
    }
}
