<div class="above-container">
    <img class="shape" ngSrc="assets/images/shape-above.svg" fill>
    <img class="dog" ngSrc="assets/images/dog-v1.png" fill>
</div>

<div class="below-container">
    <img class="shape" ngSrc="assets/images/shape-below.svg" fill>
    <img class="dog" ngSrc="assets/images/dog-v2.png" fill>
</div>

<app-header />

<article class="above-text">
    <h1 class="mat-headline-1 mb-0">Take your pet from us</h1>

    <p class="mat-body-1 text-uppercase mb-0 mt-3">
        We hope that all homeless animales are only temporarily homeless
    </p>

    <button type="button" class="primary-btn mt-4" mat-flat-button color="primary">
        continue
    </button>
</article>

<article class="below-text">
    <h2 class="mat-headline-2 text-uppercase mb-0">You may have many best friends but your dog only has one</h2>
</article>