@use "src/assets/styles/components/common";
@use "src/assets/styles/components/utils";
@use "src/assets/styles/components/card";
@use "src/assets/styles/components/img";
@use "src/assets/styles/utils/layout";

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: Poppins, Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
}

main {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

@include layout.use-viewport(xsmall) {
    :root {
        --scale-adjust: 1.75;
    }
}
