<mat-form-field>
    <mat-label class="text-uppercase">Buscar Personajes</mat-label>
    <mat-icon matPrefix>search</mat-icon>

    <input matInput type="search" placeholder="Buscar" id="input-searcher">
    <!-- <input matInput [matAutocomplete]="auto" [formControl]="model.searchControl" type="search" placeholder="Buscar"
        (dblclick)="model.searchControl.setValue('')" id="input-searcher">

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayBreed" (optionSelected)="blur()">
        <mat-option *ngFor="let breed of model.breeds.value" [value]="breed">
            {{breed.text}}
        </mat-option>
    </mat-autocomplete> -->

</mat-form-field>